{% extends "empl_reg/base.html" %}
{% load crispy_forms_tags %}



{% block content %}
{% if user.is_authenticated %}


    Hi {{ user.username }}
    <p><a class="btn btn-primary" href="{% url 'logout' %}" role="button">Log Out</a></p>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {{form.position}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg">
                    <i class="fa-solid fa-database"></i> Submit</button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'employee_insert' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Back to form
                </a>
            </div>
        </div>

    </form>
{% else %}
    <p>You are not logged in</p>
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
{% endif %}

{% endblock content %}